<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 为当前服务提供者取个名字，并且提供给注册中心 -->
    <dubbo:application name="dubbo-item-service"/>

    <!-- 注册中心的配置，使用zk暴露服务 -->
    <dubbo:registry protocol="zookeeper" address="192.168.110.128:2181"/>

    <!-- 定义暴露服务的端口号 -->
    <dubbo:protocol name="dubbo" port="20880"/>

    <!-- 暴露具体的服务接口 -->
    <dubbo:service interface="com.zing.mvc.item.service.IItemService" ref="itemServiceImpl" retries="3"/>

</beans>
